/*style.css*/

html, body {
	width: 100%;
	height: 100%;
	/*padding: 0;*/
	/*margin: 0;*/
	box-sizing: border-box;
}

div {
	clear: both;
	position: relative;
}

/* Form Sections */
section {
	border: 1px solid gray;
}

section h1 {
	font-size: 1.2rem;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
    text-align: left;
    display: inline-block;
}

.sub-section .container {
	height: 45px;
	background-color: rgb( 220, 220, 220 );
	border: 1px solid gray;
	float: left;
}

.sub-section .input {
	width: 70%;
}

form .controls .add, form .controls .delete {
	width: 45px;
	text-align: center;
	border-left: none;
}

.resident-names .column {
	display: inline-block;
	width: 33%;
	padding-top: 3px;
	padding-bottom: 5px;
}

.column input, .column label {
	display: block;
}

/*.column input {
	width: 90%;
}
*/
/*===============================*/
/* SCHEDULE */
/*===============================*/
.left, .fa.left { float: left; clear: none; }
.right, .fa.right { float: right; clear: none; }

td, th {
	width: 150px;
	text-align: center;
	border: 1px solid gray;
}

/* ==================== */
/* INPUT */
/*input:disabled+label {
	color: lightgray;
}
.fa-lock ~ *, .fa-lock ~ * * {
    color: lightgray;
}*/
.lock {
	padding: 3px;
}

.res-name label, .res-name input {
	display: block;
	margin: 0 auto;
}
.res-name label {
	font-size: 14px;
}
.res-name input {
	text-align: center;
	font-size: 14px;
	width: 90%;
}

/* DH vs. UH */
th .dh-uh {
	font-size: .75rem;
}

/* ROTATION NAME */
.rot-name {
	padding: 5px;
	height: 40px;
}

/* ROTATION CHOICES */
.rot-choices li {
	/* ??: Why does a wider width increase the size of the cell? */
    width: 66px;
    background-color: white;
    border: 1px solid gray;
    border-bottom: none;
}
.rot-choices li:last-child {
    border-bottom: 1px solid gray;
}
.rot-choices li:hover {
    background-color: lightgray;
}
.rot-choices li:active {
    background-color: gray;
}

/* Not showing */
.rot-name > .request > .rot-dropdown > ul {
	display: none;
}
/* Showing on hover */
.rot-name:hover .request > .rot-dropdown > ul {
	display: block;
}
.rot-name:hover {
	z-index: 100;
}

/* REJECT/EXCLUDE */
.reject {
	font-size: .75rem;
	border: 1px solid gray;
}
.reject > .reject-choices {
	display: none;
}
.reject:hover > .reject-choices {
	display: block;
}
.reject .column {
	width: 48%;
	text-align: left;
	display: inline-block;
}
.reject-choice input, .reject-choice label {
	display: inline-block;
}

/* - BUTTONS - */
/* Arrows */
/* Appearance */
.arrow-parent {
	position: absolute;
	width: .75rem;
	height: .75rem;
    text-align: center;
}
.arrow-right-parent {
    left: 3px;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	
	border-top: 10px solid rgb(46, 116, 2);
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	
	border-left: 10px solid rgb(46, 116, 2);
}


/* Buttons */
/* http://cssgradientbutton.com/# */
.button-green{
border:1px solid #8bcf54; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:.75rem;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#88B364));
 background-image: -webkit-linear-gradient(top, #a9db80, #88B364);
 background-image: -moz-linear-gradient(top, #a9db80, #88B364);
 background-image: -ms-linear-gradient(top, #a9db80, #88B364);
 background-image: -o-linear-gradient(top, #a9db80, #88B364);
 background-image: linear-gradient(to bottom, #a9db80, #88B364);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#88B364);
}
.button-green:hover{
 border:1px solid #74bf36;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#6f994b));
 background-image: -webkit-linear-gradient(top, #8ed058, #6f994b);
 background-image: -moz-linear-gradient(top, #8ed058, #6f994b);
 background-image: -ms-linear-gradient(top, #8ed058, #6f994b);
 background-image: -o-linear-gradient(top, #8ed058, #6f994b);
 background-image: linear-gradient(to bottom, #8ed058, #6f994b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#6f994b);
}

.button-green {
	border-radius: 1;
}
/* Changing padding for hover is above with "Arrows" -> "Function" */

.button-red{
border:1px solid #F1988E; -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px;font-size:.75rem;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #000000;
 background-color: #F6A39D; background-image: -webkit-gradient(linear, left top, left bottom, from(#F6A39D), to(#DB7F6E));
 background-image: -webkit-linear-gradient(top, #F6A39D, #DB7F6E);
 background-image: -moz-linear-gradient(top, #F6A39D, #DB7F6E);
 background-image: -ms-linear-gradient(top, #F6A39D, #DB7F6E);
 background-image: -o-linear-gradient(top, #F6A39D, #DB7F6E);
 background-image: linear-gradient(to bottom, #F6A39D, #DB7F6E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F6A39D, endColorstr=#DB7F6E);
}
.button-red:hover{
 border:1px solid #ed4b40;
 background-color: #f2776e; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2776e), to(#d15b45));
 background-image: -webkit-linear-gradient(top, #f2776e, #d15b45);
 background-image: -moz-linear-gradient(top, #f2776e, #d15b45);
 background-image: -ms-linear-gradient(top, #f2776e, #d15b45);
 background-image: -o-linear-gradient(top, #f2776e, #d15b45);
 background-image: linear-gradient(to bottom, #f2776e, #d15b45);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2776e, endColorstr=#d15b45);
}
.button-red {
	display: block;
	padding: 0;
	border-radius: 2px;
	color: #353535;
}
/* Function */
.rot-name:hover > .arrow-right-parent > .arrow-right {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	
	border-top: 10px solid teal;
}
.rot-name .button-green.arrow-right-parent {
    padding: 2px 1px 2px 3px;
}
.rot-name:hover > .button-green.arrow-right-parent {
	padding: 3px 2px 1px 2px;
}

/* OUTPUT TO COPY */
.copy-explained {
	margin-top: 30px;
}
.plain-table {
	margin-top: 10px;
}
.plain-table td {
	border: 1px solid gray;
}

/* FLOURISHES */
.generating-area {
	display: relative;
	width: 100%;
}

.loading {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 100%);
	width: 15%;
	height: auto;

	z-index: 200;
}
.ghost {
	display: none;
}
.hidden {
	visibility: hidden;
}

.locked {
	background: rgb(240, 240, 240);
}
.locked * {
	color: rgb(160, 160, 160);
}
.locked .de-color.button {
	background: rgb(200, 200, 200);
	border-color: rgb(200, 200, 200);
}
.locked .de-color.arrow-right {
	border-left-color: rgb(140, 140, 140);
}

/* FOR CLARITY FOR NOW, THEIRS STARTS IN JULY */
.Jul, td.Jul {
	border-color: tomato;
	border-width: 2px;
}
