// Add class month and data-month='month' on creation
td.input
	div.top
		div.vacation.left
			input(type="checkbox", name="vacation")
			label(for="vacation") vacation
		div.fa.fa-unlock.locker.right
	div.middle.rot-name
		div.left.button-green.arrow-parent.arrow-right-parent
			div.arrow-right.arrow
		div.request
			div.rot-output Derm
			div.dropdown.rot-dropdown
				ul.rot-choices
					li.request-choice.FMS
						input(type="radio", name="rot_request", value="FMS")
						label(for="rot_request") FMS
					li.request-choice.Rural
						input(type="radio", name="rot_request", value="Rural")
						label(for="rot_request") Rural
					li.request-choice.Elec
						input(type="radio", name="rot_request", value="Elec")
						label(for="rot_request") Elec
					li.request-choice.Cardio
						input(type="radio", name="rot_request", value="Cardio")
						label(for="rot_request") Cardio
					li.request-choice.W-P
						input(type="radio", name="rot_request", value="W-P")
						label(for="rot_request") W-P
					li.request-choice.Ger
						input(type="radio", name="rot_request", value="Ger")
						label(for="rot_request") Ger
					li.request-choice.pcmh
						input(type="radio", name="rot_request", value="pcmh")
						label(for="rot_request") pcmh
					li.request-choice.Derm
						input(type="radio", name="rot_request", value="Derm")
						label(for="rot_request") Derm
					li.request-choice.None
						input(type="radio", name="rot_request", value="None")
						label(for="rot_request") None
	div.bottom.reject
		div.input.button-red Exclude...
		div.reject-choices.dropdown.reject-dropdown
			ul.column
				li.reject-choice.FMS
					input(type="checkbox", name="rot_reject", value="FMS")
					label(for="rot_reject") FMS
				li.reject-choice.Rural
					input(type="checkbox", name="rot_reject", value="Rural")
					label(for="rot_reject") Rural
				li.reject-choice.Elec
					input(type="checkbox", name="rot_reject", value="Elec")
					label(for="rot_reject") Elec
				li.reject-choice.Cardio
					input(type="checkbox", name="rot_reject", value="Cardio")
					label(for="rot_reject") Cardio
			ul.column
				li.reject-choice.W-P
					input(type="checkbox", name="rot_reject", value="W-P")
					label(for="rot_reject") W-P
				li.reject-choice.Ger
					input(type="checkbox", name="rot_reject", value="Ger")
					label(for="rot_reject") Ger
				li.reject-choice.pcmh
					input(type="checkbox", name="rot_reject", value="pcmh")
					label(for="rot_reject") pcmh
				li.reject-choice.Derm
					input(type="checkbox", name="rot_reject", value="Derm")
					label(for="rot_reject") Derm
